@import url('https://fonts.googleapis.com/css?family=Rubik&subset=hebrew');

body {
background-color: black;
font-family: Rubik;
}
#container{
margin-top:0px;
}
iframe {
border: 0;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
}

#gameArea {
overflow: hidden;
position: relative;
height:590px;
width: auto;
margin: 0 auto;
}

.hide {
display: none;
}

header {
background-image: linear-gradient(to left, #1d3543, #2c5166, #3c6f8c);
width: 1280px;
height: 40px;
position: relative;
direction: rtl;
display: block;
margin: 0px auto;
z-index: 3;
}

/*כותרת משחק*/
header > a > p {
font-family: Rubik;
font-size: 12pt;
font-weight: 600;
position: relative;
top: -10px;
color: black;
display: inline-block;
direction: rtl;
}

/*לוגו*/
#logo {
width: auto;
height: 30px;
padding: 5px 15px;
direction: rtl;
}

nav {
margin-top: -55px;
margin-left: 10px;
direction: rtl;
}


nav ul {
list-style: none;
direction: rtl;
}

nav ul li {
display: inline-block;
border-left:2px solid white;
float: left;
width:70px;
height:30px;
direction: rtl;
}

nav ul li a {
display: block;
color: white;
text-align: center;
padding: 5px 10px;
font-weight: 400;
font-size: 12pt;
font-family: Rubik;
direction: rtl;
text-decoration: none;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

nav ul li a:hover {
color: yellow;
font-size: 14pt;
cursor: pointer;
font-family: Rubik;
direction: rtl;
text-decoration: none;
}
.navEnd{
border:none;
}
.manage:hover {
cursor: not-allowed;
}


.popUp {
background-color: rgba(255,255,255, 0.9);
height: 520px;
position: fixed;
top: 60px;
z-index: 4;
text-align: center;
width: 808px;
padding: 10px;
padding-bottom: 25px;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
direction: rtl;
border: 6px solid #3E5563;
}
.closeframe {
height: 40px;
position: absolute;
z-index: 4;
width: 40px;
padding: 10px;
border-right: 6px solid #3E5563;
border-bottom: 6px solid #3E5563;
left: 0;
top: 0;
}
#aboutDiv > a{
font-size:10px;
}
.closeHowToPlay:after, .closeAbout:after {
position: relative;
content: "\d7";
font-size: 80px;
color: #3E5563;
font-weight: normal;
top: -27px;
left: 2px
}
#logotype {
background: url("../imagesHTML/logo_about.png") no-repeat;
background-size: 100%;
width: 200px;
height: 100px;
position: relative;
right:30px;
top:20px;
}
#logotype_1 {
background: url("../imagesHTML/logo hit.png") no-repeat;
background-size: 100%;
width: 130px;
height: 85px;
position: relative;
margin:0 auto;
}
#attribute {
width: auto;
text-align: left;
font-size: 8pt;
line-height: 16px;
position:relative;
top:-5px;
left:30px;
}

#attribute ul li {
list-style-type: none;
}

#attribute ul li a {
color: blue;
}

#attribute h2 {
font-weight: 600;
font-size: 10pt;      
}
#gif {
background: url("../imagesHTML/gif_1.gif") no-repeat;
background-size: 100%;
width: 300px;
border: 2px solid #3E5563;
height: 135px;
position: relative;
margin: 0 auto;
}
#gif1 {
background: url("../imagesHTML/gif_2.gif") no-repeat;
background-size: 100%;
width: 300px;
border: 2px solid #3E5563;
height: 135px;
position: relative;
margin: 0 auto;
}

.bounceInDown {
-webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

0% {
opacity: 0;
-webkit-transform: translate3d(0, -3000px, 0);
transform: translate3d(0, -3000px, 0);
}

60% {
opacity: 1;
-webkit-transform: translate3d(0, 25px, 0);
transform: translate3d(0, 25px, 0);
}

75% {
-webkit-transform: translate3d(0, -10px, 0);
transform: translate3d(0, -10px, 0);
}

90% {
-webkit-transform: translate3d(0, 5px, 0);
transform: translate3d(0, 5px, 0);
}

100% {
-webkit-transform: none;
transform: none;
}
}

@keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

0% {
opacity: 0;
-webkit-transform: translate3d(0, -3000px, 0);
transform: translate3d(0, -3000px, 0);
}

60% {
opacity: 1;
-webkit-transform: translate3d(0, 25px, 0);
transform: translate3d(0, 25px, 0);
}

75% {
-webkit-transform: translate3d(0, -10px, 0);
transform: translate3d(0, -10px, 0);
}

90% {
-webkit-transform: translate3d(0, 5px, 0);
transform: translate3d(0, 5px, 0);
}

100% {
-webkit-transform: none;
transform: none;
}
}

